<div class="nav justify-content-center bg-white border-bottom" >
  <div class="nav-item" style = "padding-top: 5px;">
    <h5 class="nav-link disabled">投稿編集画面</h5>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <%= form_with model: @post, url: post_path, method: :patch do |f| %>
      <div class="form-group">
        <label class="text-dark">投稿画像</label><br>
        <%= f.file_field :post_image %>
      </div>
      <div id="new-image"></div>

      <div class="form-group">
        <label class="text-darky">魚種</label><br>
        <%= f.text_field :category, class: "form-control" %>
      </div>

      <div class="form-group">
        <label class="text-dark">場所</label><br>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group">
        <label class="text-dark">サイズ</label><br>
        <%= f.text_field :size, class: "form-control" %>
      </div>

      <div class="form-group">
        <label class="text-dark">投稿文</label><br>
        <%= f.text_area :content, rows: 7, class: "form-control" %>
      </div>

      <div class="row d-flex justify-content-center">
        <div>
          <%= f.submit "編集する",  class:"btn btn-outline-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>