<div class="nav justify-content-center bg-white border-bottom" >
  <div class="nav-item" style = "padding-top: 5px;">
    <h5 class="nav-link disabled">
      <%= @user.nickname %>
      さんの
      <%#= @post.created_at.strftime("%Y年%m月%d日") %>
      <%= @post.category %>
      <%= @post.size %>
      <%= @post.address %>
      の釣果
    </h5>
  </div>
</div>

<div class="container mt-3">
  <div class='row justify-content-between'>
    <!--左側-->
    <!--投稿の詳細-->
    <div class='col-md-7'>
      <div class ="mb-3">
        <%= image_tag @post.get_post_image, size: "600x400", class: "w-100" %>
      </div>
      <div class=' text-break bg-light'>
        <%= @post.content %>
      </div>
      <div class="bg-light">
        <% @post.tags.each do |tag| %>
        <span class="badge bg-secondary">
          <%= tag.name %>
        </span>
        <% end %>
      </div>
      <!--いいねとコメントの数-->
      <div class ="d-flex justify-content-around bg-light mt-2">
        <!--いいねの数-->
        <div class = "col-4 text-right p-0">
          <div id = "public_favorites_btn_<%= @post.id %>">
            <%= render 'public/favorites/btn', post: @post %>
          </div>
        </div>
        <!--コメントの数-->
        <div class = "col-4 text-left p-0">
          <%= link_to post_post_comments_path(@post) do %>
          <i class="fa-regular fa-comment-dots"></i>
          <span id = "comment_count">
            <%= @post.post_comments.count %>
          </span>
          <% end %>
        </div>
      </div>
      <!--コメント入力フォーム-->
      <div id ="comment_form">
        <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
      </div>
      <h5 class ="text-white">
        >みんなのコメント
      </h5>
      <!--コメント一覧-->
      <div id ="comment_content">
        <%= render 'public/post_comments/content', post_comments: @post_comments %>
      </div>
      <!--mapの表示-->
      <% if @post.latitude && @post.longitude %>
      <h5 class ="text-white">
        釣行場所
      </h5>
        <div id="map">
        </div>
        <p class ="text-white">
          ピンの位置が釣果のポイントを示すものではありません
        </p>
      <% end %>
    </div>

    <!--右側-->
    <!--投稿したユーザー-->
    <div class='col-md-4'>
      <div class="media d-flex justify-content-start border-bottom bg-light">
        <%= link_to user_path(@user) do %>
          <%= image_tag @user.get_profile_image, size: "75x75", class: "rounded-circle" %>
        <% end %>
        <div class="media-body">
        <h5 class="mt-0"><%= @user.nickname %></h5>
        <p><%= @user.introduction %></p>
        </div>
      </div>
      <div class="mb-2 bg-light">
        <%= link_to @user.followings.count, user_followed_path(@user) %>フォロー中
        <%= link_to @user.followers.count, user_follower_path(@user) %>フォロワー
      </div>
      <% if current_user == @user %>
        <%= link_to '投稿を編集', edit_post_path(@post), class: "btn btn-sm btn-success" %>
        <%= link_to '投稿を削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
      <% elsif admin_signed_in? %>
        <%= link_to '投稿を削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
      <% else %>
        <%= render "public/relationships/btn", user: @user, options: { class: "" } %>
      <% end %>
    </div>
  </div>
</div>
<!--mapの設定-->
<style>
  #map {
    height: 500px;
    width: 100%;
  }
</style>
<script>
  function initMap(){
    let map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %> },
    zoom: 15
    });
    let marker = new google.maps.Marker({
    position:  {lat: <%= @post.latitude %>, lng: <%= @post.longitude %> },
    map: map
    });
    let place = document.getElementById('keyword');
    let geocoder = new google.maps.Geocoder();


  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>