<div class="nav justify-content-center bg-white border-bottom" >
  <div class="nav-item" style = "padding-top: 5px;">
    <h5 class="nav-link disabled">
      <%= @user.nickname %>
      さんの
      <%= @post.created_at.strftime("%Y年%m月%d日") %>
      の
      <%= @post.title %>
    </h5>
  </div>
</div>

<div class="container mt-3">
  <div class='row justify-content-between'>
    <!--左側-->
    <!--投稿の詳細-->
    <div class='col-md-7'>
      <div class ="mb-3">
        <%= image_tag @post.get_post_image, size: "600x400", class: "img-fluid" %>
      </div>
      <div class='text-break bg-light'>
        <%= @post.content %>
      </div>
      <!--いいねとコメントの数-->
      <div class ="d-flex justify-content-around bg-light mt-2">
        <!--いいねの数-->
        <div class = "col-4 text-right p-0">
          <div id = "public_favorites_btn_<%= @post.id %>">
            <%= render 'public/favorites/btn', post: @post %>
          </div>
        </div>
        <!--コメントの数-->
        <div class = "col-4 text-left p-0">
            <i class="fa-regular fa-comment-dots"></i>
            <%= @post.post_comments.count %>
        </div>
      </div>
      <%= render 'public/post_comments/content',post: @post,user: @user %>
          <div>
           <%= form_with model: [@post, @post_comment] do |f| %>
            <%= f.text_area :content, rows: '5' %>
            <%= f.submit "送信する" %>
           <% end %>
          </div>
    </div>
    <!--右側-->
    <!--投稿したユーザー-->
    <div class='col-md-4'>
      <div class="media mb-2 d-flex justify-content-start border-bottom bg-light">
        <%= link_to user_path(@user) do %>
          <%= image_tag @user.get_profile_image, size: "75x75", class: "rounded-circle" %>
        <% end %>
        <div class="media-body">
        <h5 class="mt-0"><%= @user.nickname %></h5>
        </div>
      </div>
      <%= render "public/relationships/btn", user: @user, options: { class: "" } %>
      <div class='text-break bg-light mt-2'>
      <p><%= @user.introduction %></p>
      </div>
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success" %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
    </div>
  </div>







</div>