<div class="nav justify-content-center bg-white border-bottom" >
  <div class="nav-item" style = "padding-top: 5px;">
    <h5 class="nav-link disabled"><%= @user.name %>(<%= @user.nickname %>)さんの詳細</h5>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div>
      <table class="table table-borderless text-white">
        <tr>
          <td>ユーザーID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>ニックネーム</td>
          <td><%= @user.nickname %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td>
            <% if @user.status == "active" %>
              <a>有効</a>
            <% elsif @user.status == "withdrawal" %>
              <a class ="text-danger">退会済</a>
            <% else %>
              <a class ="text-warning">停止中</a>
            <% end %>
          </td>
        </tr>
      </table>
      <%= link_to "編集する", edit_admin_user_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

