<div class="container">
  <% users.each do |user| %>
    <div class="row text-white">
      <div class='col-10 d-flex justify-content-start'>
        <%= link_to user_path(user) do %>
          <div class="media">
            <%= image_tag user.get_profile_image, size: "50x50", class: "rounded-circle" %>
          </div>
          <div class="media-body">
            <h5 class="mt-0">
              <%= user.nickname %>
            </h5>
            <% end %>
            <br>
          <div class='text-break'>
            <p><%= user.introduction %></p>
          </div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-start pt-1">
        <%= render "public/relationships/btn", user: user, options: { class: "" } %>
      </div>
    </div>
  <% end %>
</div>