<div class="nav justify-content-center bg-white border-bottom" >
  <div class="nav-item pt-1">
    <h5 class="nav-link disabled">
      <%= current_user.last_name %>さんのマイページ情報編集
    </h5>
  </div>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div>
      <%= form_with model: @user, url: user_path, method: :patch do |f| %>
      <div class="form-group">
        <label class="text-secondary">背景画像</label><br>
        <%= f.file_field :back_image %>
      </div>
      <div class="form-group">
        <label class="text-secondary">プロフィール画像</label><br>
        <%= f.file_field :profile_image %>
      </div>
      <div class="form-group">
        <label class="text-secondary">名前（姓）</label><br>
        <%= f.text_field :last_name %>
      </div>
      <div class="form-group">
        <label class="text-secondary">名前（名）</label><br>
        <%= f.text_field :first_name %>
      </div>

      <div class="form-group">
        <label class="text-secondary">ニックネーム</label><br>
        <%= f.text_field :nickname %>
      </div>

      <div class="form-group">
        <label class="text-secondary">自己紹介</label><br>
        <%= f.text_area :introduction, size: "59x10" %>
      </div>

      <div class="form-group">
        <label class="text-secondary">住所</label><br>
        <%= f.select :delivery_area, User.delivery_areas.keys, {}, {class: 'hoge'} %>
      </div>

      <div class="form-group">
        <label class="text-secondary">メールアドレス</label><br>
        <%= f.email_field :email, placeholder: "sample@example.com" %>
      </div>

      <div class = "d-flex justify-content-center">
      <%= f.submit "更新", class:"btn btn-outline-success" %>
      </div>
      <% end %>
        <%= link_to "退会", users_check_path, class: "btn btn-danger" %>
        <%= link_to 'マイページへ戻る', users_my_page_path %>
    </div>
  </div>
</div>