<div class="nav justify-content-center bg-white border-bottom" >
  <div class="nav-item pt-1">
    <h5 class="nav-link disabled">
      <%= current_user.nickname %>さんのマイページ
    </h5>
  </div>
</div>

<div class="container">
  <div class="row bg-white">
    <div class="col d-flex justify-content-center">
      <%= image_tag @user.get_back_image, size: "1200x300" %>
    </div>
  </div>
  <br>
  <div class="row bg-white border">
    <div class='col-11 d-flex justify-content-start'>
      <div class="media">
        <%= image_tag @user.get_profile_image, size: "150x150", class: "rounded-circle" %>
      </div>
      <div class="media-body">
        <h5 class="mt-0"><%= @user.nickname %></h5><br>
        <div class='text-break'>
        <p><%= @user.introduction %></p>
        </div>
      </div>

    </div>
    <div class="col-1 d-flex justify-content-center align-items-start pt-1">
      <%# if current_user != @user %>
      <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
      <%# end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= render "public/relationships/btn", user: @user, options: { class: "" } %>
  </div>


</div>



<%#= render 'posts/index', posts: @posts %>
