<!DOCTYPE html>
<html>
  <head>
    <title>うぉ（魚）！釣りサイト！</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/fc5c603cd5.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom_styles' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
          <%= image_tag ("37EA4820-2A16-4139-9520-A70D86C471A2.png"), width: '150px', class: "img-fluid" %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <!--管理者側のヘッダー-->
            <% if admin_signed_in? %>
              <%= link_to '会員一覧', admin_users_path, class: 'btn btn-light mr-1' %>
            <!--ログイン後のヘッダー-->
            <% elsif user_signed_in? %>
              <%= link_to 'マイページ', users_my_page_path, class: 'btn btn-light mr-1' %>
              <%= link_to '新規投稿', new_post_path, class: 'btn btn-light mr-1' %>
              <%= link_to '投稿一覧', posts_path, class: 'btn btn-light mr-1' %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-light mr-1' %>
            <!--ログイン前のヘッダー-->
            <% else %>
              <%= link_to '投稿一覧', posts_path, class: 'btn btn-light mr-1' %>
              <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-light mr-1' %>
              <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-light mr-1' %>

            <% end %>

          </ul>
        </div>
      </nav>
    </header>

    <main>
      <% if flash[:notice] %>
        <div class="flash-notice"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </main>

    <footer class="text-center" style="height: 100px;">
      <p style="color: #FFFFFF; margin-bottom: 0;">&copy; うお！釣りサイト</p>
    </footer>


  </body>
</html>
